.bodyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: inherit;
    border-radius: 45px;
   background-size: cover;
  }

  .form{
    border: 43px solid beige;
    width: 40%;
    box-shadow: 0 12px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
    margin: 50px;
    border-radius: 35px;
    
  }

  .input{
    width: 30%;
    padding: 6px;
    border: 1px solid black;
    margin: 10px;
  }

  .danger {
    font-size: 15px;
    color: blue;
    font-weight: 600;
    
  }

  .boton{
    background-color: dodgerblue;
    border: none;
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    color: white;
    font-weight: 900;
  }

  .h1{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 25px;
  }

  .label{
    font-weight: 700;
    
  }

  .divContentType{
    margin-left: 160px;
    border: 1px solid;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
  }


  .divType{
   
    display: contents;
    margin: 2px;
  }