.bodySearch{
    padding: 10px;
    display: flex;
    flex-direction: inherit;
    justify-content: flex-end;
    margin-bottom: 75px;
    margin-top: 10px;
}

.button{
    background-color: blue;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
}

.input{
    margin: 5px;
    padding: 5px;
    border-block-color: 1px sol;
    border: 3px solid lightblue;
    border-radius: 6px;
}