.divBody{
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.SearchBar{
    padding-top: 70px;
}


@media only screen and (max-width: 800px) {
    .divBody {
        align-items: center;
        height: 112vh;
    }
  }
