.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
   
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .salir {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px 7px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }


  .title{
    font-size: 20px;
  }


  @media only screen and (max-width: 1200px) {
    .salir {
      margin-right: 15px;
    }
  }


  @media only screen and (max-width: 550px) {
    .divLink {
      display: flex;
    flex-direction: column;
    }


    .link {
      padding: 7px;
    }
  }


  @media only screen and (max-width: 400px) {
    .titleNav{
      display:flex;
      flex-direction: column;
      align-items: center;
    }
  }